body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #222;
    margin: 0;
    overflow: hidden;
}

#partyLight {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #555;
    box-shadow: 0 0 50px #000;
    transition: background-color 0.1s ease-out;
}

#instructions {
    margin-top: 20px;
    color: #fff;
    font-family: Arial, sans-serif;
}

#fullscreenBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000; /* Ensure it's above other elements */
}

#fullscreenBtn:hover {
    background-color: #45a049;
}

#fullscreenBtn:active {
    background-color: #3e8e41;
}
